<!doctype html>
<head>
  <meta charset="utf-8">
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />
</head>
<html>
<body>
  {{> @partial-block}}
  <script src="{{ webpack-manifest.[main.js] }}"></script>
</body>
</html>
